* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  padding: 50px;
  background: #fbfbfb;
}

.cart {
  display: flex;
  width: 284px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  align-self: stretch;
}

img {
  width: 40px;
  height: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  max-width: 123px;
  flex: 1 0 0;
}

.info .product-title {
  color: #000000;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px; /* 100% */
}

.info .product-stock {
  color: #000;
  font-family: Lato;
  font-size: 15px;
  line-height: 15px;
}

.product-price {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
}
button {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #0a003c;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  transition: 400ms;
}
button:hover {
  background: #4924ff;
  transition: 400ms;
}
